fisher_st/Dashboard/flows-10.json
[{"id":"7c80f255.366244","type":"tab","label":"Water level","disabled":false,"info":""},{"id":"f02ee1d0.2e00c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ec35d73f.007dc","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"be087938.aca0a8","type":"tab","label":"Garage door","disabled":false,"info":""},{"id":"c93c609c.6893e8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#96d35f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#96d35f","edited":true},"page-titlebar-backgroundColor":{"value":"#96d35f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#bde39b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#96d35f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a243af3e.d9ac4","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"efd80009.6240c","type":"ui_group","z":"","name":"Water Tank","tab":"a243af3e.d9ac4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab87082f.f07dd","type":"ui_spacer","name":"spacer","group":"efd80009.6240c","order":1,"width":1,"height":1},{"id":"c82c3e93.25b908","type":"mqtt-broker","z":"","name":"ESP32","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"241d88f3.a89318","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"8866b638.436e2","type":"ui_spacer","name":"spacer","group":"efd80009.6240c","order":3,"width":1,"height":1},{"id":"8700b375.315558","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"2a333426.12b3bc","type":"ui_group","z":"","name":"Weather","tab":"a243af3e.d9ac4","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3d98ca7.03201","type":"ui_group","z":"","name":"Water Tank #2","tab":"a243af3e.d9ac4","order":2,"disp":true,"width":"6","collapse":true},{"id":"50d02811.7b516","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d2bd7ae.74a2c8","type":"ui_group","z":"","name":"Garage door","tab":"a243af3e.d9ac4","order":4,"disp":true,"width":"6","collapse":false},{"id":"beb86d02.37cd48","type":"ui_group","z":"","name":"Default","tab":"3e630fa2.2b811","disp":true,"width":"6","collapse":false},{"id":"3e630fa2.2b811","type":"ui_tab","z":"","name":"Start","icon":"dashboard"},{"id":"89ba13b7.b57c88","type":"mqtt-broker","z":"","name":"ESP8266","broker":"nodered.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c2422093.d5ae5","type":"mqtt in","z":"7c80f255.366244","name":"","topic":"fisherst/waterlevel","qos":"2","datatype":"auto","broker":"c82c3e93.25b908","x":110,"y":460,"wires":[["e48cf730.963f28","8cdf9951.24e418"]]},{"id":"b2e16f4e.b3594","type":"ui_gauge","z":"7c80f255.366244","name":"","group":"efd80009.6240c","order":2,"width":0,"height":0,"gtype":"wave","title":"Water Tank Level","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":200,"wires":[]},{"id":"e48cf730.963f28","type":"calculator","z":"7c80f255.366244","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2250","x":310,"y":220,"wires":[["62813a83.f101c4"]]},{"id":"62813a83.f101c4","type":"calculator","z":"7c80f255.366244","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"100","x":500,"y":220,"wires":[["c494ec72.5e099"]]},{"id":"c494ec72.5e099","type":"calculator","z":"7c80f255.366244","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"trunc","constant":"","x":670,"y":220,"wires":[["5dcedab4.10286c","c31f573.af39128","56d06221.1f3ef4","885aca7c.c69f2","f1a6e1fe.72378"]]},{"id":"5dcedab4.10286c","type":"ui_chart","z":"7c80f255.366244","name":"","group":"efd80009.6240c","order":4,"width":0,"height":0,"label":"Water Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":80,"wires":[[]]},{"id":"ab360f2c.1f39c8","type":"moment","z":"7c80f255.366244","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD-MM-YY - HH:mm","locale":"en_AU","output":"","outputType":"msg","outTz":"Australia/Sydney","x":580,"y":520,"wires":[["e05a3eb2.20b7f","c31f573.af39128"]]},{"id":"e05a3eb2.20b7f","type":"ui_text","z":"7c80f255.366244","group":"efd80009.6240c","order":4,"width":0,"height":0,"name":"","label":"Last updated:","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":520,"wires":[]},{"id":"8cdf9951.24e418","type":"function","z":"7c80f255.366244","name":"Timestamp","func":"msg.payload = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["f7d1363b.155f28","ab360f2c.1f39c8"]]},{"id":"f7d1363b.155f28","type":"change","z":"7c80f255.366244","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sleep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["3d0f4b2a.8db8f4"]]},{"id":"3d0f4b2a.8db8f4","type":"mqtt out","z":"7c80f255.366244","name":"Sleepy time","topic":"fisherst/sleep","qos":"","retain":"","broker":"c82c3e93.25b908","x":990,"y":600,"wires":[]},{"id":"c31f573.af39128","type":"join","z":"7c80f255.366244","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":460,"wires":[["7833996c.e69728"]]},{"id":"7833996c.e69728","type":"csv","z":"7c80f255.366244","name":"waterlevel","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"time, waterlevel","skip":"0","strings":true,"x":1000,"y":460,"wires":[["60f74b38.7adc9c"]]},{"id":"60f74b38.7adc9c","type":"file","z":"7c80f255.366244","name":"","filename":"/home/pi/waterlevel.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1210,"y":460,"wires":[[]]},{"id":"172c151d.18061b","type":"template","z":"7c80f255.366244","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"options\":{\n        \"waveColor\":\"#FF0000\"\n    }\n}","output":"json","x":1080,"y":140,"wires":[["b2e16f4e.b3594"]]},{"id":"56d06221.1f3ef4","type":"switch","z":"7c80f255.366244","name":"low","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":910,"y":140,"wires":[["172c151d.18061b"]]},{"id":"885aca7c.c69f2","type":"switch","z":"7c80f255.366244","name":"medium","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":920,"y":200,"wires":[["7222bffc.41a648"]]},{"id":"7222bffc.41a648","type":"template","z":"7c80f255.366244","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"options\":{\n        \"waveColor\":\"#FFFF00\"\n    }\n}","output":"json","x":1080,"y":200,"wires":[["b2e16f4e.b3594"]]},{"id":"64164469.08b7fc","type":"template","z":"7c80f255.366244","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"options\":{\n        \"waveColor\":\"#006400\"\n    }\n}","output":"json","x":1080,"y":260,"wires":[["b2e16f4e.b3594"]]},{"id":"f1a6e1fe.72378","type":"switch","z":"7c80f255.366244","name":"good","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":260,"wires":[["64164469.08b7fc"]]},{"id":"16799ac8.389045","type":"mqtt in","z":"f02ee1d0.2e00c","name":"Temperature","topic":"fisherst/temperature","qos":"2","datatype":"auto","broker":"c82c3e93.25b908","x":160,"y":120,"wires":[["f48c137d.a21c4"]]},{"id":"f48c137d.a21c4","type":"calculator","z":"f02ee1d0.2e00c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"trunc","constant":"","x":370,"y":120,"wires":[["81a935ed.130f28","d989464.81dbe38"]]},{"id":"da53b791.1765c8","type":"mqtt in","z":"f02ee1d0.2e00c","name":"Ambient Temperature","topic":"fisherst/ambienttemp","qos":"2","datatype":"auto","broker":"c82c3e93.25b908","x":180,"y":600,"wires":[["34d7cc4.3d16bb4"]]},{"id":"254bd4e2.faed14","type":"ui_gauge","z":"f02ee1d0.2e00c","name":"","group":"2a333426.12b3bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Ambient Temp","label":" C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"40","x":880,"y":640,"wires":[]},{"id":"81a935ed.130f28","type":"ui_gauge","z":"f02ee1d0.2e00c","name":"","group":"c3d98ca7.03201","order":5,"width":0,"height":0,"gtype":"gage","title":"Internal Temp","label":" C","format":"{{value}}","min":0,"max":"50","colors":["#0061ff","#00fa00","#ca3838"],"seg1":"10","seg2":"35","x":880,"y":120,"wires":[]},{"id":"8be807c3.e2265","type":"ui_chart","z":"f02ee1d0.2e00c","name":"","group":"2a333426.12b3bc","order":6,"width":0,"height":0,"label":"Ambient Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":560,"wires":[[]]},{"id":"34d7cc4.3d16bb4","type":"calculator","z":"f02ee1d0.2e00c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"trunc","constant":"","x":370,"y":600,"wires":[["8be807c3.e2265","254bd4e2.faed14"]]},{"id":"d989464.81dbe38","type":"ui_level","z":"f02ee1d0.2e00c","group":"c3d98ca7.03201","order":5,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"40","segWarn":"","segHigh":"","unit":"C","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"auto","peakmode":false,"peaktime":3000,"x":630,"y":60,"wires":[]},{"id":"41c4ba7c.77b78c","type":"mqtt in","z":"ec35d73f.007dc","name":"Humidity","topic":"fisherst/humidity","qos":"2","datatype":"auto","broker":"c82c3e93.25b908","x":180,"y":120,"wires":[["d14bbfc2.7fedf"]]},{"id":"d14bbfc2.7fedf","type":"ui_gauge","z":"ec35d73f.007dc","name":"Humidity","group":"2a333426.12b3bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0432ff","#00fdff","#fffc00"],"seg1":"50","seg2":"80","x":900,"y":120,"wires":[]},{"id":"c2176fef.2dba4","type":"mqtt in","z":"be087938.aca0a8","name":"","topic":"garage/door","qos":"2","datatype":"auto","broker":"89ba13b7.b57c88","x":210,"y":460,"wires":[["9978517.acb9d3","ddb20348.e820a","5b71f513.96f9f4","9e126b45.46bb28","e3a0a0ba.be112","cf80be7f.326f6","bdc30f93.9399f","aac2b7fe.c8b43","1c5fe421.d22f24"]]},{"id":"9978517.acb9d3","type":"debug","z":"be087938.aca0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":280,"wires":[]},{"id":"e8bc2f93.8cf22","type":"ui_button","z":"be087938.aca0a8","name":"","group":"3d2bd7ae.74a2c8","order":5,"width":"6","height":"2","passthru":false,"label":"Open","tooltip":"The garage door is open","color":"#333333","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":340,"wires":[[]]},{"id":"ddb20348.e820a","type":"switch","z":"be087938.aca0a8","name":"Open","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":320,"wires":[["11498842.a4558"]]},{"id":"11498842.a4558","type":"function","z":"be087938.aca0a8","name":"on","func":"msg.background=\"LIME_GREEN\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["e8bc2f93.8cf22"]]},{"id":"5b71f513.96f9f4","type":"switch","z":"be087938.aca0a8","name":"Open","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":360,"wires":[["45c791da.b2bca"]]},{"id":"45c791da.b2bca","type":"function","z":"be087938.aca0a8","name":"off","func":"msg.background=\"BLACK\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["e8bc2f93.8cf22"]]},{"id":"e2b8810a.fbf3e","type":"function","z":"be087938.aca0a8","name":"off","func":"msg.background=\"BLACK\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["82ba18ab.3508b8"]]},{"id":"e3a0a0ba.be112","type":"switch","z":"be087938.aca0a8","name":"Opening","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"going_up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":440,"wires":[["e2b8810a.fbf3e"]]},{"id":"82ba18ab.3508b8","type":"ui_button","z":"be087938.aca0a8","name":"","group":"3d2bd7ae.74a2c8","order":5,"width":"6","height":"1","passthru":false,"label":"Opening","tooltip":"The garage door is opening","color":"#333333","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":780,"y":420,"wires":[[]]},{"id":"edb9dc5f.25e048","type":"function","z":"be087938.aca0a8","name":"on","func":"msg.background=\"YELLOW\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["82ba18ab.3508b8"]]},{"id":"9e126b45.46bb28","type":"switch","z":"be087938.aca0a8","name":"Opening","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"going_up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":400,"wires":[["edb9dc5f.25e048"]]},{"id":"18e1962b.d3ac82","type":"function","z":"be087938.aca0a8","name":"off","func":"msg.background=\"BLACK\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["bac4de80.4c6e9"]]},{"id":"bdc30f93.9399f","type":"switch","z":"be087938.aca0a8","name":"Closing","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"going_down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":520,"wires":[["18e1962b.d3ac82"]]},{"id":"bac4de80.4c6e9","type":"ui_button","z":"be087938.aca0a8","name":"","group":"3d2bd7ae.74a2c8","order":5,"width":"6","height":"1","passthru":false,"label":"Closing","tooltip":"The garage door is closing","color":"#333333","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":780,"y":500,"wires":[[]]},{"id":"4b84df10.f08868","type":"function","z":"be087938.aca0a8","name":"on","func":"msg.background=\"YELLOW\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["bac4de80.4c6e9"]]},{"id":"cf80be7f.326f6","type":"switch","z":"be087938.aca0a8","name":"Closing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"going_down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":480,"wires":[["4b84df10.f08868"]]},{"id":"d0138946.65635","type":"ui_button","z":"be087938.aca0a8","name":"","group":"3d2bd7ae.74a2c8","order":5,"width":"6","height":"2","passthru":false,"label":"Closed","tooltip":"The garage door is closed","color":"#333333","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":780,"y":580,"wires":[[]]},{"id":"17f7a2eb.0e5bfd","type":"function","z":"be087938.aca0a8","name":"off","func":"msg.background=\"BLACK\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["d0138946.65635"]]},{"id":"b8210318.d17f68","type":"function","z":"be087938.aca0a8","name":"on","func":"msg.background=\"RED\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["d0138946.65635"]]},{"id":"1c5fe421.d22f24","type":"switch","z":"be087938.aca0a8","name":"Closed","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":600,"wires":[["17f7a2eb.0e5bfd"]]},{"id":"aac2b7fe.c8b43","type":"switch","z":"be087938.aca0a8","name":"Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":560,"wires":[["b8210318.d17f68"]]}]